.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 84, 139);
  row-gap: 0;
  padding: 2rem  3rem;
}

.container img {
  width: 80%;
  max-width: 600px;
}

.container h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container div:nth-child(odd) {
  background-color: rgb(65, 104, 177);
}

.container div:nth-child(even) {
  background-color: rgb(63, 98, 166);
}

.container div span {
  font-size: large;
  color: white;
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
}
