@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Puritan&display=swap');

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'lato', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(88, 137, 230);
  color: white;
}

.header span {
  font-family: 'Puritan', sans-serif;
}

img {
  width: 30px;
  padding: 0.5rem;
}
